@import "../vars";

.search {
	display: flex;
	align-items: center;
	gap: 0 20px;

	padding-right: 30px;

	max-width: 1200px;
	width: 100%;

	background: #fff;

	border-radius: 20px;

	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);

	&__input {
		width: calc(100% - 28px);

		padding: 10px 0 10px 30px;

		border-radius: 20px 0 0 20px;

		border: none;
		outline: none;

		position: relative;

		transition: color 0.2s ease-in-out;
	}

	&__button {
		box-sizing: content-box;
		width: 28px;
		height: 28px;

		padding: 5px;

		background: transparent;

		border: none;
		outline: none;

		cursor: pointer;

		svg path {
			stroke: #afafaf;
			transition: stroke 0.2s ease-in-out;
		}

		&:hover {
			svg path {
				stroke: $text-color;
			}
		}
	}
}
